$couleur-fond: #222;
$couleur-proposition: #333;
$couleur-joker: #663333;
$couleur-fait: #363;
$couleur-vert: #b3fcbd;
$couleur-texte: #cccccc;

$couleur-pastille-verte: #83e369;
$couleur-pastille-grise: #b5a6a6;
$couleur-pastille-rouge: #e36969;

$couleur-loi: #9f3e3e;
$couleur-decret: #9f6b3e;
$couleur-ordonnance: #9f8f3e;
$couleur-europe: #3e9f4b;
$couleur-inconnu: #3e599f;

$police-grande-ordi2: 36px;
$police-grande-ordi: 32px;
$police-grande-tablette: 28px;
$police-grande-tel: 24px;

$police-moyenne-ordi2: 20px;
$police-moyenne-ordi: 18px;
$police-moyenne-tablette: 16px;
$police-moyenne-tel: 14px;

$tablette: 768px;
$ordi: 1024px;
$ordi2: 1440px;

@mixin pas-tel {
  @media (min-width: $tablette) {
    @content;
  }
}

@mixin tablette {
  @media (min-width: #{$tablette}) and (max-width: #{$ordi - 1px}) {
    @content;
  }
}

@mixin ordi {
  @media (min-width: #{$ordi}) and (max-width: #{$ordi2 - 1px}) {
    @content;
  }
}

@mixin ordi2 {
  @media (min-width: #{$ordi2}) {
    @content;
  }
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2") format('woff2');
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $couleur-fond;
  color: $couleur-texte;
  font-family: "JetBrains Mono", monospace;
  font-size: $police-moyenne-tel;
  padding: 32px 16px;

  @include tablette {
    padding: 32px 64px;
    font-size: $police-moyenne-tablette;
  }
  @include ordi {
    padding: 64px 128px;
    font-size: $police-moyenne-ordi;
  }
  @include ordi2 {
    padding: 96px 160px;
    font-size: $police-moyenne-ordi2;
  }

  a {
    color: #fff;
  }
}

#racine {
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 16px;

  @include tablette {
    padding: 0 32px;
  }
  @include ordi {
    padding: 0 64px;
  }
  @include ordi2 {
    padding: 0 92px;
  }
}

#avancement {
  margin: 32px 0;

  display: flex;
  flex-flow: column;
  justify-content: start;

  #resume {
    //margin-bottom: 32px;
  }

  #progres-conteneur {
    visibility: hidden;
    display: none;
    flex-flow: row;
    justify-content: center;
    @include pas-tel {
      display: none;
    }
  }


  #progres {
    display: flex;
    flex-flow: column;
    @include pas-tel {
      flex-flow: row;
      flex-wrap: wrap;
    }

    flex-wrap: wrap;
    justify-content: center;
    align-items: start;

    .avancee {
      display: flex;
      flex-flow: row;
      align-items: center;
      @include pas-tel {
        margin: 0 32px;
      }

      .proposition {
        width: 40px;
        height: 40px;
        margin-left: 0;
        margin-right: 16px;
      }
    }
  }
}

.progression {
  margin-top: 16px;

  $at: &;
  &__wrapper {
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 18px;
    overflow: hidden;
    background-color: #000000;
    #{$at}-bar {
      height: 36px;
      transition: filter .2s ease-out, width 1.8s .1s cubic-bezier(0.85, 0, 0.15, 1);
      width: 0;
      &:hover {
        filter:brightness(1.2)
      }
      &.is {
        &-fait {
          background-color: $couleur-fait;
        }
        &-attente {
          background-color: $couleur-proposition;
        }
        &-joker {
          background-color: $couleur-joker;
        }
        &-bonne {
          background-color: $couleur-pastille-verte;
        }
        &-incertaine {
          background-color: $couleur-pastille-grise;
        }
        &-insuffisante {
          background-color: $couleur-pastille-rouge;
        }
        &-loi {
          background-color: $couleur-loi;
        }
        &-decret {
          background-color: $couleur-decret;
        }
        &-ordonnance {
          background-color: $couleur-ordonnance;
        }
        &-europe {
          background-color: $couleur-europe;
        }
        &-inconnu {
          background-color: $couleur-inconnu;
        }
      }
    }
  }
  &__legend {
    margin-top: 20px;
    @include pas-tel {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    .legend {
      &-item {
        padding-left: 24px;
        position: relative;
        &::before {
          content: '';
          height: 16px;
          width: 16px;
          border-radius: 50%;
          position: absolute;
          top: 6px;
          left: 0;
        }
        &.is {
          &-fait {
            &::before {
              background-color: $couleur-fait;
            }
          }
          &-attente {
            &::before {
              background-color: $couleur-proposition;
            }
          }
          &-joker {
            &::before {
              background-color: $couleur-joker;
            }
          }
          &-bonne {
            &::before {
              background-color: $couleur-pastille-verte;
            }
          }
          &-incertaine {
            &::before {
              background-color: $couleur-pastille-grise;
            }
          }
          &-insuffisante {
            &::before {
              background-color: $couleur-pastille-rouge;
            }
          }
          &-loi {
            &::before {
              background-color: $couleur-loi;
            }
          }
          &-decret {
            &::before {
              background-color: $couleur-decret;
            }
          }
          &-ordonnance {
            &::before {
              background-color: $couleur-ordonnance;
            }
          }
          &-europe {
            &::before {
              background-color: $couleur-europe;
            }
          }
          &-inconnu {
            &::before {
              background-color: $couleur-inconnu;
            }
          }
        }
      }
    }
  }
}

.thematique, .proposition, .propositions, .avancee {
  transition: padding .3s ease-out;
  transform: translateY(2rem);
  opacity: 0;
  animation: anim-fade-up .2s ease-out forwards;
}

.thematique {
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i / 4}s;

      .titre {
        animation-delay: #{$i / 4 + .1}s;
      }

      .proposition {
        @for $j from 1 through 50 {
          &:nth-child(#{$j}) {
            animation-delay: #{$j / 100 + $i / 4 + .1}s;
          }
        }
      }
    }
  }

  .titre {
    transform: translateX(-2rem);
    opacity: 0;
    animation: anim-fade-up .2s ease-out forwards;
  }
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;

  font-size: $police-grande-tablette;
  padding-bottom: 8px;

  @include tablette {
    font-size: $police-grande-tablette;
    padding-bottom: 16px;
  }
  @include ordi {
    font-size: $police-grande-ordi;
    padding-bottom: 32px;
  }
  @include ordi2 {
    font-size: $police-grande-ordi2;
    padding-bottom: 48px;
  }
}

.thematique {
  padding-top: 64px;

  .titre {
    font-size: $police-grande-tel;
    @include tablette {
      font-size: $police-grande-tablette;
    }
    @include ordi {
      font-size: $police-grande-ordi;
    }
    @include ordi2 {
      font-size: $police-grande-ordi2;
    }
  }

  .details {
    display: none;
    background-color: $couleur-proposition;
    border-radius: 12px;
    padding: 16px;
    margin-top: 8px;
    transition: all ease-out 1s;

    &.show {
      display: block;
    }

    .actualite {
      padding-top: 16px;
    }

    a {
      margin-left: 16px;
    }
  }

  .propositions {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px 0;
    padding: 16px;
    border: 2px solid $couleur-vert;
  }

}

.details {
  div + div {
    margin-top: 16px;
  }
}

.proposition {
  text-decoration: none;
  width: 50px;
  height: 50px;
  font-size: 14px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  box-sizing: border-box;
  color: $couleur-texte;
  border: none;

  @include pas-tel {
    width: 64px;
    height: 64px;
    font-size: 16px;
  }

  &--selectionne, &:hover, &:focus {
    border: 2px solid $couleur-vert;

    .pastille {
      top: -9px !important;
      right: -9px !important;

      @include pas-tel {
        top: -12px !important;
        right: -12px !important;
      }
    }
  }

  &--etat {
    &--joker {
      background-color: $couleur-joker;
    }

    &--fait {
      background-color: $couleur-fait;
    }

    &--attente {
      background-color: $couleur-proposition;
    }
  }

  .pastille {
    text-align: center;
    position: absolute;
    top: -7px;
    right: -7px;
    width: 18px;
    height: 18px;
    line-height: 19px;
    border-radius: 16px;
    border: 2px solid $couleur-proposition;
    color: $couleur-fond;
    font-weight: bold;

    @include pas-tel {
      top: -10px;
      right: -10px;
      width: 24px;
      height: 24px;
      line-height: 24px;
    }

    &--bonne {
      background-color: $couleur-pastille-verte;
    }

    &--inconnue {
      background-color: $couleur-pastille-grise;
    }

    &--decevante {
      background-color: $couleur-pastille-rouge;
    }
  }

  .pastille {
    text-align: center;
    position: absolute;
    top: -7px;
    right: -7px;
    width: 18px;
    height: 18px;
    line-height: 19px;
    border-radius: 16px;
    border: 2px solid $couleur-proposition;
    color: $couleur-fond;
    font-weight: bold;

    @include pas-tel {
      top: -10px;
      right: -10px;
      width: 24px;
      height: 24px;
      line-height: 24px;
    }

    &--bonne {
      background-color: $couleur-pastille-verte;
    }

    &--inconnue {
      background-color: $couleur-pastille-grise;
    }

    &--decevante {
      background-color: $couleur-pastille-rouge;
    }
  }

}

.retour-en-haut {
  margin-top: 40px;
  text-align: center;
  display: block;
  color: #cccccc;
}

footer {
  margin-top: 40px;
  color: lighten($couleur-proposition, 20%);

  display: flex;
  flex-flow: column;
  @include pas-tel {
    flex-flow: row;
  }

  a {
    color: inherit;
    margin: 8px 0;
    @include pas-tel {
      margin: 0 16px 0 0;
    }
  }

  #contribuer {
    color: $couleur-vert;
  }
}

@keyframes anim-fade-up {
  to {
    transform: translate(0);
    opacity: 1;
  }
}
