$couleur-fond: #222;
$couleur-proposition: #333;
$couleur-joker: #633;
$couleur-attention: #663;
$couleur-applique: #363;
$couleur-vert: #b3fcd4;

@font-face {
  font-family: "jbMono";
  src: url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff") format('woff');
}

body {
  background-color: $couleur-fond;
  color: #cccccc;
  font-family: jbMono, monospace;
  padding: 64px 128px;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  font-size: 32px;
  padding-bottom: 32px;

  #header-gauche {
    padding-right: 32px;
    min-width: 33%;
  }

  #header-droite {
    font-size: 20px;
    padding-left: 32px;
  }
}

.thematique {
  padding: 32px 64px;

  .titre {
    font-size: 32px;
  }

  .details {
    display: none;
    background-color: $couleur-proposition;
    border-radius: 12px;
    padding: 16px;
    margin-top: 8px;
    transition: all ease-out 1s;

    &.show {
      display: block;
    }
  }

  .propositions {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
    margin: 16px 0;
    border: 1px solid $couleur-vert;
  }

  .proposition {
    width: 64px;
    height: 64px;
    font-size: 16px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $couleur-proposition;
    border-radius: 12px;
    cursor: pointer;
    box-sizing: border-box;

    &.selectionne, &:hover {
      border: 2px solid $couleur-vert;
    }

    &.joker {
      background-color: $couleur-joker;
    }

    &.attention {
      background-color: $couleur-attention;
    }
  }

}