$color-fond: #222;
$color-proposition: #333;
$color-joker: #663333;
$color-fait: #363;
$color-vert: #b3fcbd;
$color-texte: #cccccc;

$color-pastille-verte: #83e369;
$color-pastille-grise: #b5a6a6;
$color-pastille-rouge: #e36969;

$color-loi: #9f3e3e;
$color-decret: #9f6b3e;
$color-ordonnance: #9f8f3e;
$color-europe: #3e9f4b;
$color-inconnu: #3e599f;
