$couleur-fond: #222;
$couleur-proposition: #333;
$couleur-joker: #663333;
$couleur-fait: #363;
$couleur-vert: #b3fcbd;
$couleur-texte: #cccccc;

$couleur-pastille-verte: #83e369;
$couleur-pastille-grise: #b5a6a6;
$couleur-pastille-rouge: #e36969;

$couleur-loi: #9f3e3e;
$couleur-decret: #9f6b3e;
$couleur-ordonnance: #9f8f3e;
$couleur-europe: #3e9f4b;
$couleur-inconnu: #3e599f;
